# Prevents the creation of package-lock.json files, since we're using yarn.lock
package-lock=false

# Prevents any scripts defined in package.json from running automatically during install
# This is a security measure and ensures all operations happen in frontend-nx directory
ignore-scripts=true 